html {
  --vsm-standard-spacing: var(--chakra-spacing-4\.5, 1.25rem);
}

body {
  min-height: 100dvh;
}

.prelogin-background {
  background-image: url('/vsm-background.jpg');
  min-height: calc(100vh - 80px);
}

.d-flex {
  display: flex;
}

.gap {
  gap: var(--vsm-standard-spacing);
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.vsm-form {
  display: flex;
  gap: var(--vsm-standard-spacing);
  flex-direction: column;
}
